<section class="section" relative id="Articles__Hero">
  <div
    class="heading-container"
    style="max-width: {{ .Page.Params.hero.maxWidthPX }}px;"
  >
    <h1 class="hero-heading">{{ .Page.Params.hero.heading }}</h1>
    <p class="post-content" style="padding: 24px 0px 8px 0px">
      If you're here by mistake or on purpose, here's what you should know about
      this. This is a personal blog where I usually ramble on about things that
      move me or tick me off. A brief list of topics includes movies, people,
      food and culture. It is highly opinionated. It may or may not resonate
      with how you feel about things.
      <br />
      For those of you who I may piss off, my apologies in advance.
    </p>
  </div>
  <div class="subheading-container">
    {{ partial "bio.html" . }}
    <div class="grid-controls-container">
      <button id="btnGrid" class="grid-button">
        {{ partial "icons/ui/tiles.html" . }}
      </button>
      <button id="btnRows" class="grid-button">
        {{ partial "icons/ui/rows.html" . }}
      </button>
    </div>
  </div>
</section>

{{ $script := resources.Get "js/toggleLayout.js" }}
<script src="{{ $script.RelPermalink }}"></script>
